<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabela - Aluno</title>
</head>
<body>
    <h1>Bem Vindo {{ nome }}</h1>
    <table border="3">
          <tr>

            <td>Disciplina</td>
            <td>Nota 1</td>
            <td>Nota 2</td>
            <td>Nota 3</td>

          </tr>

          {% for d in disciplinas %}
              <tr>
                  <td><a href="/detalhar/{{ d[0] }}">{{ d[0] }}</td>
                  <td>{{ d[1] }}</td>
                  <td>{{ d[2] }}</td>
                  <td>{{ d[3] }}</td>
              </tr>
          {% endfor %}

    </table>
</body>
</html>